body {
  background-color: rgb(255, 218, 230);
  margin: 0;
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-container {
  background-color: rgb(255, 218, 230);
  display: flex;
  justify-content: space-between;
}

.head {
  background-color: rgb(255, 218, 230);
  padding: 3%;
}

.logo {
  position: relative;
  float: left;
  text-align: left;
}

.home-logo {
  width: 45px;
  float: left;
  padding-right: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hotpink;
  margin: 1em 0;
  padding: 0;
}

.butt {
  position: relative;
  background-color: transparent;
  padding: 12px 40px;
  text-decoration: none;
  border: 1.5px solid;
  margin: 12px;
}

.butt:hover {
  background-color: rgba(255, 245, 248, 0.301);
  color: rgba(0, 0, 0, 0.793);
}

.butt:active {
  color: black;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  margin-left: auto;
}

.nav-links-margin {
  margin: 0 20px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  padding: 30px;
}

.grid-landing {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-items: stretch;
  align-items: center;
  padding: 100px;
}

.text {
  max-width: 700px;
  margin: auto;
}

a:link {
  text-decoration: none;
}

a:hover {
    color: white;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination a.active {
  background-color: white;
  border-radius: 10px;
}

.pagination a:hover:not(.active) {
  background-color: white;
  border-radius: 10px;
}

.contact {
  text-decoration: none;
  color: inherit;
}

.grid-text {
  padding-left: 10%;
  padding-right: 10%;
}

.copyright {
  text-align: center;
  position: relative;
}

textarea {
  width: 50%;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 980px) {
  .grid {
    display: grid;
    text-align: center;
    grid-auto-flow: row;
    row-gap: 60px;
  }

  img {
    width: 300px;
  }

  nav {
    padding-top: 50px;
    display: grid;
    color: white;
  }
  .nav-links {
    display: grid;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    grid-auto-flow: row;
    row-gap: 10px;
    padding-bottom: 10px;
  }

  .grid-text {
    padding-left: 0;
    padding-right: 0;
  }

  .text {
    max-width: 750px;
    margin: 0;
  }

  .small {
    font-size: xx-small;
  }

  h2 {
    text-align: center;
  }

  textarea {
    width: 100%;
  }
}
